* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: Heebo;
}
/* Header */
.header {
  padding-bottom: 80px;
}
.header .img-phone{
  display: none;
}
.header .navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  padding-right: 50px;
  line-height: 29px;
}
.header .navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;

}
.header #img1 {
  display: none;
}
.header .main-header {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}
.header .main-header .profile h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
.header .main-header .profile p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 23.5px;
}
.header .main-header img {
  height: 243px;
  width: 243px;
  border-radius: 50%;
  box-shadow: 0px 10px 1px #edf7fa;
}
.header .main-header button {
  background-color: #ff6464;
  width: 208px;
}
/* Main */
/* Top main */
.main .top-main {
  background-color: #edf7fa;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
}
.main .top-main .topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .top-main .topics a {
  text-decoration: none;
  color: #00a8cc;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}
.main .top-main .topics p {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}
.main .top-main .post {
  display: flex;

  justify-content: space-between;
}
.main .top-main .text {
  background-color: white;
  width: 49%;
  padding: 20px;
}
.main .top-main .post .text h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 38.19px;
}
.main .top-main .post .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}
.main .top-main .post .text .border-text {
  display: flex;
  gap: 30px;
  line-height: 26.44px;
}
.main .top-main .post .text .text2 {
  border-left: 1px solid black;
  padding-left: 30px;
}
/* Middle main */
.main .middle-main {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
}
.main .middle-main .top-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}
.main .middle-main .container .big-items {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  padding-top: 20px;
}
.main .middle-main .container .hidden-items {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  padding-top: 20px;
}
.main .middle-main .container .big-items .items1 img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.main .middle-main .container .hidden-items .items1 img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.main .middle-main .container .items2 h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44.06px;
}
.main .middle-main .container .items2 .middle-text {
  display: flex;
  gap: 40px;
  align-items: center;
}
.main .middle-main .container .items2 .middle-text .first-p {
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  width: 62px;
  height: 25px;
  background-color: #142850;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .middle-main .container .items2 .middle-text .second-p {
  color: #8695a4;
  font-weight: 400;
  font-size: 20px;
}
/* Footer */

.footer {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.footer .icons {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.footer .icons i {
  font-size: 30px;
}
.footer .last-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.56px;
}
/* Mobile */
@media screen and (max-width: 768px) {
  /* Header */
  .header .navbar {
    display: none;
  }
  .header .img-phone {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 30px;
  }
  .header .main-header {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .header .main-header img {
    width: 174.375px;
    height: 180px;
    margin-bottom: 40px;
  }
  .header .main-header .profile h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  .header .main-header .profile p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
  }
  /* Main */
  /* top main */
  .main .top-main .topics {
    flex-direction: column;
  }
  .main .top-main .topics p {
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
  }
  .main .top-main .topics a {
    display: none;
  }
  .main .top-main .post {
    flex-direction: column;
    gap: 20px;
  }
  .main .top-main .post .text {
    width: 100%;
  }
  .main .top-main .post .text h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }
  /* middle main */
  .main .middle-main .top-text {
    display: flex;
    justify-content: center;
  }
  .main .middle-main .container .hidden-items {
    display: none;
  }
  .main .middle-main .container .big-items {
    flex-direction: column;
  }
  .main .middle-main .container .big-items .items1 img {
    width: 339px;
    height: 230px;
  }
  .main .middle-main .container .big-items .items2 {
    width: 339px;
  }
  .main .middle-main .container .big-items .items2 h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
}
